@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(120deg, #431616, #44cd9f);
  background-repeat: no-repeat;
  background-size: 450;
  color: azure;
  width: 100%;
  font-family: Ubuntu;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  80% {
    
    transform: translateY(-0.5rem);
  }100% {
    opacity: 7;
    transform: translateY(0);
  }
}

img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.front-end {
  text-align: center;
  font-size: 14px;
}

@keyframes info {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 6;
    transform: translateX(0);
  }
}

.header-info {
  animation: info 0.76s linear;
  margin: 3rem 15rem;
}

.project-div {
  background: #aaa;
  height: 300px;
  width: 230px;
  padding: 1rem;
  animation: anim 0.76s linear;
  box-shadow: 0 1.5rem 4rem rgb(0, 0, 0, 0.15);
}


.container {
  color: #aaa;
}

#projects {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1.5rem 4rem rgb(0, 0, 0, 0.15);
}

@media (max-width: 2000px) {
  #projects {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  #projects {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1500px) {
  #projects {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1300px) {
  #projects {
    grid-template-columns: repeat(4, 1fr);
  }
  .header-info {
    margin: 3rem 9rem;
  }

}

@media (max-width: 1000px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-info {
    margin: 3rem 5rem;
  }
}

@media (max-width: 800px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-info {
    margin: 3rem 3rem;
  }
  .front-end {
    text-align: center;
    font-size: 13px;
  }
  body {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #projects {
    grid-template-columns: 1fr;
  }
  .header-info {
    margin: 3rem 2rem;
  }
  .front-end {
    text-align: center;
    font-size: 10px;
  }
  body {
    font-size: 12px;
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 6;
    transform: translateX(0);
  }
}

.portfolio-title {
  animation: title 0.76s ease-out;
  text-align: center;
}



.portfolio-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: #818181;
  overflow: hidden;
}

.portfolio-img {
  margin: 20px auto;
}

.project-link {
  padding: .5rem;
  width: 100px;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  margin: 1em auto;
  background: linear-gradient(120deg, rgb(209, 38, 38), rgb(45, 153, 45));
  color: rgb(233, 232, 232);
}

.front-end-title {
  font-size: 15px;
  display: block;
}



.language {
  display: block;
  width: 5em;
  padding: 1rem 0;
  border-bottom: 1px solid #818181;
  margin: 1px auto;
  text-align: center;
}